Repository duongdev/kathena, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kodiakhq, @nhatminh0509, @HuynhThanhCanh

.github/CODEOWNERS:

**/* @kodiakhq @nhatminh0509 @HuynhThanhCanh

packages/web @nhatminh0509 @kodiakhq
packages/server @HuynhThanhCanh @kodiakhq

package.json
yarn.lock

Update dependency file-type to v16.5.0
  packages/server/package.json
  yarn.lock
Owners: none

Update dependency date-fns to v2.22.0
  packages/server/package.json
  packages/web/package.json
  yarn.lock
Owners: none

VanHai- fix renovate/date-fns-2.x
  packages/server/schema.gql
Owners: @HuynhThanhCanh, @kodiakhq

Update dependency date-fns to v2.22.1
  packages/server/package.json
  packages/web/package.json
  yarn.lock
Owners: none

Update dependency date-fns to v2.22.1
  packages/server/package.json
  packages/web/package.json
  yarn.lock
Owners: none

Update dependency mongoose to v5.12.12
  packages/server/package.json
  yarn.lock
Owners: none

Update dependency mongoose to v5.12.12
  packages/server/package.json
  yarn.lock
Owners: none

create splitButton
  packages/web/src/components/SplitButton/SplitButton.tsx
  packages/web/src/components/SplitButton/index.ts
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
Owners: @nhatminh0509, @kodiakhq

update UI
  packages/web/src/components/SplitButton/SplitButton.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
Owners: @nhatminh0509, @kodiakhq

Update Create Classwork Assingment
  packages/server/schema.gql
  packages/web/src/@kathena/ui/SplitButton/SplitButton.tsx
  packages/web/src/@kathena/ui/SplitButton/index.ts
  packages/web/src/@kathena/ui/index.ts
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.tsx
Owners: @HuynhThanhCanh, @kodiakhq, @nhatminh0509

Update dependency @typegoose/typegoose to v8.0.0-beta.11
  packages/server/package.json
  yarn.lock
Owners: none

Update dependency @typegoose/typegoose to v8.0.0-beta.11
  packages/server/package.json
  yarn.lock
Owners: none

Update dependency eslint-plugin-import to v2.23.4
  packages/server/package.json
  packages/web/package.json
  yarn.lock
Owners: none

Update dependency eslint-plugin-import to v2.23.4
  packages/server/package.json
  packages/web/package.json
  yarn.lock
Owners: none

Update dependency eslint-plugin-react to v7.24.0
  packages/web/package.json
  yarn.lock
Owners: none

Update dependency eslint-plugin-react to v7.24.0
  packages/web/package.json
  yarn.lock
Owners: none

CU-8u0cwc - [BE] Setup Submit model and Comment module
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.resolver.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
  packages/server/src/modules/comment/comment.resolver.ts
  packages/server/src/modules/comment/comment.service.spec.ts
  packages/server/src/modules/comment/comment.service.ts
  packages/server/src/modules/comment/model/Comment.ts
Owners: @HuynhThanhCanh, @kodiakhq

Edit comment
  packages/server/src/modules/classwork/classwork.resolver.ts
Owners: @HuynhThanhCanh, @kodiakhq

Setup ClassworkSubmission model and Comment module (#368)
  packages/server/schema.gql
  packages/server/src/core/app/app.module.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.resolver.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkAssignment.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
  packages/server/src/modules/comment/comment.module.ts
  packages/server/src/modules/comment/comment.resolver.ts
  packages/server/src/modules/comment/comment.service.spec.ts
  packages/server/src/modules/comment/comment.service.ts
  packages/server/src/modules/comment/comment.type.ts
  packages/server/src/modules/comment/model/Comment.ts
Owners: @HuynhThanhCanh, @kodiakhq
