Repository duongdev/kathena, pull requests merged in 2021-11, with the labels that each got.

#906 [BE] update findAndPaginateAcademicSubjects
  packages/server/src/modules/academic/academic.module.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academicSubject.resolver.ts
  packages/server/src/modules/fileStorage/fileStorage.service.ts
Labels: package: server, 🚀 merge it!

#918 [BE] update clone course
  packages/server/DoAnTotNghiep/javascript.docx
  packages/server/schema.gql
  packages/server/src/modules/course/course.module.ts
  packages/server/src/modules/course/course.service.ts
  packages/server/src/modules/quiz/quiz.service.ts
Labels: 🚀 merge it!

#909 [BE] fix upload file
  packages/server/schema.gql
  packages/server/src/modules/fileStorage/fileStorage.resolver.ts
  packages/server/src/modules/fileStorage/fileStorage.service.ts
  packages/server/src/modules/fileStorage/models/File.ts
  packages/web/src/common/auth/AuthContext.tsx
  packages/web/src/components/FileComponent/FileComponent.gql
  packages/web/src/components/FileComponent/FileComponent.tsx
  packages/web/src/graphql/generated.tsx
Labels: package: server, 🚀 merge it!

#919 remove-folder-file
  packages/server/DoAnTotNghiep/javascript.docx
Labels: package: server, 🚀 merge it!

#930 [FE] change english to vietnamese in UI
  packages/server/schema.gql
  packages/web/src/modules/ClassworkAssignmentDetail/AddVideoToClassworkAssignment.tsx
  packages/web/src/modules/CourseList/CourseList.tsx
Labels: package: web, 🚀 merge it!

#931 [BE] update staff can list orgOffice
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/orgRolesMap.ts
Labels: bug, package: server, 🚀 merge it!

#932 [BE] - [FE] Fix bug when create course with first lesson's startDate equal course startDate
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/conversation/conversation.service.spec.ts
  packages/server/src/modules/course/course.service.spec.ts
  packages/server/src/modules/course/course.service.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/web/src/modules/CreateCourse/CreateCourse.tsx
Labels: bug, package: web, package: server, 🚀 merge it!

#937 [BE] update quiz module Add orgId
  packages/server/src/modules/quiz/question.resolver.ts
  packages/server/src/modules/quiz/questionChoice.resolver.ts
  packages/server/src/modules/quiz/quiz.module.ts
  packages/server/src/modules/quiz/quiz.resolver.ts
  packages/server/src/modules/quiz/quiz.service.ts
  packages/server/src/modules/quiz/quizSubmit.resolver.ts
Labels: bug, package: server, 🚀 merge it!

#938 [BE] fix bug start date clone course
  packages/web/src/modules/CloneCourse/CloneCourse.tsx
Labels: bug, package: web, 🚀 merge it!

#939 [FE] change english to vietnamese clone course
  packages/web/src/modules/CloneCourse/CloneCourse.tsx
Labels: bug, package: web, 🚀 merge it!

#940 Cu 1rx256w fe update UI time
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailClassworkSubmissionAssignment.tsx
Labels: bug, package: web, 🚀 merge it!
