Repository duongdev/kathena, pull requests merged in 2021-06, with the labels that each got.

#383 Add and write test classwork servicecreate classwork submission
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
Labels: package: server, 🚀 merge it!

#388 Implement commentService.createComment
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/comment/comment.resolver.ts
  packages/server/src/modules/comment/comment.service.spec.ts
  packages/server/src/modules/comment/comment.service.ts
  packages/server/src/modules/comment/comment.type.ts
Labels: package: server, 🚀 merge it!

#389 Implement commentService.listCommentByTargetId
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.resolver.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/comment/comment.service.spec.ts
  packages/server/src/modules/comment/comment.service.ts
  packages/server/src/modules/comment/comment.type.ts
Labels: package: server, 🚀 merge it!

#387 Add detail classwork materials
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/CreateClassworkMaterials.from.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
  packages/web/src/utils/path-builder.ts
  yarn.lock
Labels: package: web, 🚀 merge it!

#381 Update classwork assignments
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/UpdateClassworkAssignmentDialog/UpdateClassworkAssignment.form.tsx
  packages/web/src/modules/UpdateClassworkAssignmentDialog/UpdateClassworkAssignment.gql
  packages/web/src/modules/UpdateClassworkAssignmentDialog/UpdateClassworkAssignmentDialog.tsx
Labels: package: server, package: web, 🚀 merge it!

#394 Add update classwork material page
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/UpdateClassworkMaterials.from.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/UpdateClassworkMaterialsDialog.tsx
  yarn.lock
Labels: package: web, 🚀 merge it!

#393 Write unit test for findAndPaginateClassworkMaterials
  packages/server/src/modules/classwork/classwork.service.spec.ts
Labels: package: server, 🚀 merge it!

#396 [FE] Add/remove attachments to/from classwork assignment
  packages/web/src/components/FileComponent/FileComponent.tsx
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/AddAttachmentsForm.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/AddAttachmentsToClassworkAssignment.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.gql
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
Labels: package: web, 🚀 merge it!

#401 Update ClassworkAssignment model
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/models/ClassworkAssignment.ts
  packages/server/src/modules/comment/comment.service.spec.ts
Labels: package: server, 🚀 merge it!

#403 Add and write test List submissions
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/ClassworkSubmission.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
Labels: package: server, 🚀 merge it!

#404 Implement UI chart
  packages/server/schema.gql
  packages/web/package.json
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/TeachingCourse/Components/General/General.tsx
  yarn.lock
Labels: package: web, 🚀 merge it!

#409 update findClassworkMaterialById and findClassworkAssignmentById
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
Labels: package: server, 🚀 merge it!

#408 bug classwork servicecreate classwork submission not work
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
Labels: bug, package: server, 🚀 merge it!

#414 Add detail studying classwork
  packages/web/package.json
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/ClassworkAssignments.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailCommentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailTab.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
  packages/web/src/utils/path-builder.ts
  yarn.lock
Labels: package: web, 🚀 merge it!

#412 Add comment to classwork submision
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
Labels: package: server, 🚀 merge it!

#419 Add List submissions
  packages/server/schema.gql
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.gql
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#420 Implement Create Comment
  packages/web/src/@kathena/ui/EditorFormField/EditorFormField.tsx
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CreateComment/CreateComment.form.tsx
  packages/web/src/modules/CreateComment/CreateComment.gql
  packages/web/src/modules/CreateComment/CreateComment.tsx
  packages/web/src/modules/CreateComment/index.ts
Labels: 🚀 merge it!

#426 Add Submit my solution
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/ClassworkAssignment.gql
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/CreateSubmissionClassworkAssignment.form.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/CreateSubmissionClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#413 As a staff and lecturer. I want to calculate the average score of each exercise in the course
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.module.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/course.resolver.ts
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
Labels: package: server, 🚀 merge it!

#423 Add query to CommentService.listCommentByTargetId
  packages/server/schema.gql
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/comment/comment.resolver.ts
  packages/web/src/graphql/generated.tsx
Labels: package: server, 🚀 merge it!

#427 [BE] classworkService.FindClassworkSubmissionById
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
Labels: package: server, 🚀 merge it!

#436 Add comments to classwork assignment
  packages/web/src/components/Comment/Comment.tsx
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.gql
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/CreateComment/CreateComment.form.tsx
  packages/web/src/modules/CreateComment/CreateComment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/ClassworkAssignment.gql
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/CreateSubmissionClassworkAssignment.tsx
Labels: package: web, 🚀 merge it!

#432 Add Detail Submission
  packages/web/src/components/AccountDisplayName/AccountDisplayName.tsx
  packages/web/src/components/ClassworkAssignmentTitle/ClassworkAssignmentTitle.tsx
  packages/web/src/components/ClassworkAssignmentTitle/index.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/ClassworkAssignment.gql
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/CreateSubmissionClassworkAssignment.form.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/CreateSubmissionClassworkAssignment.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmission.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmissionDetail.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/index.ts
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#440 Add comment to teaching course
  packages/web/src/modules/TeachingCourse/Components/General/General.tsx
Labels: package: web, 🚀 merge it!

#439 Add comment to class work submission
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmissionDetail.tsx
Labels: package: web, 🚀 merge it!

#441 Add comment to studying course
  packages/web/src/modules/StudyingCourse/Components/General/General.tsx
Labels: package: web, 🚀 merge it!

#442 Implement chart average score of each exercise in the course
  packages/server/schema.gql
  packages/server/src/modules/academic/course.resolver.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourse/Components/General/CourseDetailGeneral.gql
  packages/web/src/modules/TeachingCourse/Components/General/General.tsx
Labels: package: web, 🚀 merge it!

#443 Update classworkService.setGradeForClassworkSubmission
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
Labels: package: server, 🚀 merge it!

#445 Add comment to teaching classwork material
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
Labels: package: web, 🚀 merge it!

#446 Add grade submission
  packages/server/schema.gql
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmission.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmissionDetail.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/Grade.form.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/GradeDialog.tsx
Labels: package: web, 🚀 merge it!

#447 Add comment to classwork material studying
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkMaterials/DetailContentClassworkMaterial.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#448 Detail Course
  packages/web/src/modules/CourseList/CourseList.tsx
  packages/web/src/modules/DetailCourse/AccountUserName.tsx
  packages/web/src/modules/DetailCourse/AddLecturer.tsx
  packages/web/src/modules/DetailCourse/AddStudent.tsx
  packages/web/src/modules/DetailCourse/DetailCourse.gql
  packages/web/src/modules/DetailCourse/DetailCourse.tsx
  packages/web/src/modules/DetailCourse/index.ts
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/UpdateCourses/index.ts
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#438 Update classworkservice.createClassworkSubmission
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
Labels: package: server, 🚀 merge it!

#451 [BE] add classwordservice.findOneClassworkclassworkSubmission
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
Labels: package: server, 🚀 merge it!

#461 Add block inspect on my website
  packages/web/public/index.html
Labels: package: web, 🚀 merge it!

#457 [Staff] Implement update course
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/DetailCourse/DetailCourse.gql
  packages/web/src/modules/DetailCourse/DetailCourse.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/UpdateCourse/UpdateCourse.gql
  packages/web/src/modules/UpdateCourse/UpdateCourse.tsx
  packages/web/src/modules/UpdateCourse/index.ts
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#462 [BE] fix bug classwork servicefind one classwork submission add permission
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/orgRolesMap.ts
Labels: bug, package: server, 🚀 merge it!

#464 Reset password form
  packages/web/src/App.route.tsx
  packages/web/src/common/auth/AuthContext.tsx
  packages/web/src/modules/ResetPassword/ResetPassword.form.tsx
  packages/web/src/modules/ResetPassword/ResetPassword.tsx
  packages/web/src/modules/ResetPassword/index.ts
Labels: package: web, 🚀 merge it!

#470 Cu 9a2kby update UI detail classwork assignment
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkSubmission/ClassworkSubmission.gql
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkSubmission/DetailClassworkSubmission.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/ClassworkAssignment.gql
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailCommentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailTab.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmission.gql
  packages/web/src/modules/TeachingCourse/Components/General/CourseDetailGeneral.gql
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#459 As a system, I want to email all students when there is a new assignment assignment in a course
  packages/server/.env.example
  packages/server/.env.production
  packages/server/nest-cli.json
  packages/server/package.json
  packages/server/schema.gql
  packages/server/src/core/config/config.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/comment/comment.service.spec.ts
  packages/server/src/modules/mail/mail.const.ts
  packages/server/src/modules/mail/mail.module.ts
  packages/server/src/modules/mail/mail.service.spec.ts
  packages/server/src/modules/mail/mail.service.ts
  packages/server/src/modules/mail/templates/newClassworkAssignment.hbs
  packages/server/src/modules/mail/templates/partials/signature.hbs
  packages/web/public/images/kmin-signature.png
  yarn.lock
Labels: package: server, 🚀 merge it!

#474 As a user, I want to change/set password by OTP
  packages/server/schema.gql
  packages/server/src/core/utils/string.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/account/account.const.ts
  packages/server/src/modules/account/account.module.ts
  packages/server/src/modules/account/account.resolver.ts
  packages/server/src/modules/account/account.service.spec.ts
  packages/server/src/modules/account/account.service.ts
  packages/server/src/modules/account/models/Account.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/mail/mail.service.spec.ts
  packages/server/src/modules/mail/mail.service.ts
  packages/server/src/modules/mail/templates/activeAccount.hbs
  packages/server/src/modules/mail/templates/resetPassword.hbs
  packages/web/src/App.route.tsx
  packages/web/src/common/auth/AuthContext.tsx
  packages/web/src/common/auth/auth.gql
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ResetPassword/ResetPassword.form.tsx
  packages/web/src/modules/SetPassword/SetPassword.form.tsx
  packages/web/src/modules/SetPassword/SetPassword.tsx
  packages/web/src/modules/SetPassword/index.ts
  packages/web/src/utils/path-builder.ts
Labels: package: server, package: web, 🚀 merge it!

#478 Add README
  README.md
Labels: documentation, 🚀 merge it!

#483 Update README.md
  README.md
Labels: documentation
