Repository duongdev/kathena, pull requests merged in 2021-05, with the labels that each got.

#332 Implement list classwork assignments
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkAssignments/ClassworkAssignments.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkAssignments/ClassworkAssignments.tsx
Labels: package: web, 🚀 merge it!

#329 Implement classworkService.updateClassworkAssignment
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
Labels: package: server, 🚀 merge it!

#333 Implement classworkService.updateClassworkAssignmentPublication
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
Labels: package: server, 🚀 merge it!

#335 Implement classworkService.findClassworkMaterialById
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
Labels: package: server, 🚀 merge it!

#320 Add and write test classworkService.updateClassworkMaterial
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
Labels: package: server, 🚀 merge it!

#299 Handle bug loading in update academic subject page
  packages/web/src/modules/CreateUpdateAcademicSubject/CreateUpdateAcademicSubject.tsx
  packages/web/src/modules/OrgAccountList/OrgAccountList.tsx
  packages/web/src/modules/UpdateCourses/AccountUserName.tsx
  packages/web/src/modules/UpdateCourses/AddLecturer.tsx
  packages/web/src/modules/UpdateCourses/AddStudent.tsx
  packages/web/src/modules/UpdateCourses/UpdateCourse.tsx
Labels: package: web, 🚀 merge it!

#334 Add button active/deactivated account
  packages/web/src/modules/AccountProfile/AccountProfile.tsx
Labels: package: web, 🚀 merge it!

#311 Implement classworkService.findClassworkAssignmentsById
  packages/server/schema.gql
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/web/src/modules/CreateUpdateAcademicSubject/CreateUpdateAcademicSubject.tsx
  packages/web/src/modules/OrgAccountList/OrgAccountList.tsx
  packages/web/src/modules/UpdateCourses/AccountUserName.tsx
  packages/web/src/modules/UpdateCourses/AddLecturer.tsx
  packages/web/src/modules/UpdateCourses/AddStudent.tsx
  packages/web/src/modules/UpdateCourses/UpdateCourse.tsx
Labels: package: server, 🚀 merge it!

#338 Add and write test classworkService.updateClassworkMaterialPu…
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
Labels: package: server, 🚀 merge it!

#348 Implement classworkservice.findAndPaginateClassworkMaterial
  packages/server/schema.gql
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkMaterial.ts
Labels: package: server, 🚀 merge it!

#349 Update classworkService.findAndPaginateClassworkAssignments
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkAssignment.ts
Labels: package: server, 🚀 merge it!

#347 Create Classwork assignments
  packages/web/package.json
  packages/web/src/@kathena/ui/EditorFormField/EditorFormField.tsx
  packages/web/src/@kathena/ui/EditorFormField/index.ts
  packages/web/src/@kathena/ui/UploadInput/UploadInput.tsx
  packages/web/src/@kathena/ui/UploadInput/index.ts
  packages/web/src/@kathena/ui/index.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.form.tsx
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.gql
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.tsx
  packages/web/src/modules/CreateClassworkAssignment/index.ts
  packages/web/src/modules/CreateCourse/CreateCourse.form.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkAssignments/ClassworkAssignments.tsx
  packages/web/src/utils/path-builder.ts
  yarn.lock
Labels: package: web, 🚀 merge it!

#354 Implement add and remove attachments function for classwork material and classwork assignments
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
Labels: package: server, 🚀 merge it!

#353 Add list classwork material page
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
Labels: package: web, 🚀 merge it!

#362 [BE] Upload addAttachmentsToClasswork
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
Labels: package: server, 🚀 merge it!

#365 Update classworkservice.CreateClassworkAssignment (Add File)
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/web/src/graphql/generated.tsx
Labels: package: server, 🚀 merge it!

#366 Update classwork.service.createClassworkMaterial (add file)
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
Labels: package: server, 🚀 merge it!

#369 Update create classwork assignment
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.type.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkAssignments/ClassworkAssignments.tsx
Labels: package: web

#344 Add org office to course
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.module.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/academic/models/Course.ts
  packages/server/src/modules/account/account.module.ts
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/orgOffice/orgOffice.service.ts
  packages/web/src/components/OrgOfficeName/OrgOfficeName.tsx
  packages/web/src/components/OrgOfficeName/index.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CourseList/CourseList.gql
  packages/web/src/modules/CourseList/CourseList.tsx
  packages/web/src/modules/CreateCourse/CreateCourse.form.tsx
  packages/web/src/modules/CreateCourse/CreateCourse.tsx
Labels: package: server, package: web, 🚀 merge it!

#368 Setup ClassworkSubmission model and Comment module
  packages/server/schema.gql
  packages/server/src/core/app/app.module.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.resolver.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkAssignment.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
  packages/server/src/modules/comment/comment.module.ts
  packages/server/src/modules/comment/comment.resolver.ts
  packages/server/src/modules/comment/comment.service.spec.ts
  packages/server/src/modules/comment/comment.service.ts
  packages/server/src/modules/comment/comment.type.ts
  packages/server/src/modules/comment/model/Comment.ts
Labels: package: server, 🚀 merge it!

#376 Update UI Create Classwork Assingment
  packages/web/src/@kathena/ui/SplitButton/SplitButton.tsx
  packages/web/src/@kathena/ui/SplitButton/index.ts
  packages/web/src/@kathena/ui/index.ts
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.tsx
Labels: package: web, 🚀 merge it!

#373 Detail classwork assignments
  packages/server/schema.gql
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/web/src/components/CourseName/CourseName.tsx
  packages/web/src/components/CourseName/index.ts
  packages/web/src/components/FileComponent/FileComponent.gql
  packages/web/src/components/FileComponent/FileComponent.tsx
  packages/web/src/components/FileComponent/index.ts
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.gql
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/index.ts
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkAssignments/ClassworkAssignments.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#380 Update ClassworkSubmission model
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
Labels: package: server, 🚀 merge it!

#382 Update UI Support Multiple Role
  packages/web/src/@kathena/ui/Select/Select.tsx
  packages/web/src/@kathena/ui/SelectFormField/SelectFormField.tsx
  packages/web/src/modules/AccountProfile/UpdateAccountDialog.tsx
  packages/web/src/modules/CreateUpdateAccount/CreateAccountDialog.tsx
Labels: package: web, 🚀 merge it!

#367 Add create classwork material page
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/CreateClassworkMaterials.from.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/CreateClassworkMaterials.tsx
  packages/web/src/utils/path-builder.ts
  yarn.lock
Labels: package: web, 🚀 merge it!
