Repository duongdev/kathena, pull requests merged in 2021-07, with the labels that each got.

#500 Realtime comment and refactor comment
  packages/server/package.json
  packages/server/schema.gql
  packages/server/src/core/app/graphql-with-upload.module.ts
  packages/server/src/modules/comment/comment.resolver.ts
  packages/web/.env.example
  packages/web/.gitignore
  packages/web/src/common/apollo.tsx
  packages/web/src/components/Comment/Comment.gql
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/CreateComment/CreateComment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkMaterials/DetailContentClassworkMaterial.tsx
  packages/web/src/modules/StudyingCourse/Components/General/General.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmissionDetail.tsx
  packages/web/src/modules/TeachingCourse/Components/General/General.tsx
  yarn.lock
Labels: package: server, package: web, 🚀 merge it!

#485 As a system, I want to email students when there is a graded assignment in a course
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/mail/mail.service.spec.ts
  packages/server/src/modules/mail/mail.service.ts
  packages/server/src/modules/mail/templates/gradedAssignment.hbs
Labels: package: server, 🚀 merge it!

#503 Add env enable devtool
  packages/web/.env.example
  packages/web/.env.production
  packages/web/public/index.html
  packages/web/src/index.tsx
Labels: 🚀 merge it!

#504 [Studying] Search Course
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/StudyingCourseList/StudyingCourseList.gql
  packages/web/src/modules/StudyingCourseList/StudyingCourseList.tsx
Labels: package: web, 🚀 merge it!

#505 CU-9y2kcx - [Teaching] Search Course
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourseList/TeachingCourseList.gql
  packages/web/src/modules/TeachingCourseList/TeachingCourseList.tsx
Labels: package: web, 🚀 merge it!

#506 CU-9y2kbh - [Admin] Search Course
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CourseList/CourseList.gql
  packages/web/src/modules/CourseList/CourseList.tsx
Labels: package: web, 🚀 merge it!

#492 As a system, I want real-time notification when there is a new assignment in a course
  packages/server/schema.gql
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
Labels: package: server, 🚀 merge it!

#509 Conversation
  packages/server/schema.gql
  packages/server/src/core/app/app.module.ts
  packages/server/src/modules/classwork/classwork.resolver.ts
  packages/server/src/modules/comment/comment.resolver.ts
  packages/server/src/modules/comment/comment.service.ts
  packages/server/src/modules/comment/comment.type.ts
  packages/server/src/modules/comment/model/Comment.ts
  packages/server/src/modules/conversation/conversation.module.ts
  packages/server/src/modules/conversation/conversation.resolver.ts
  packages/server/src/modules/conversation/conversation.service.spec.ts
  packages/server/src/modules/conversation/conversation.service.ts
  packages/server/src/modules/conversation/conversation.type.ts
  packages/server/src/modules/conversation/model/Conversation.ts
  packages/web/src/common/apollo.tsx
  packages/web/src/common/cache.ts
  packages/web/src/components/Comment/Comment.gql
  packages/web/src/components/Conversation/Conversation.tsx
  packages/web/src/components/ConversationAvatar/ConversationAvatar.tsx
  packages/web/src/components/ConversationAvatar/kmin-logo.png
  packages/web/src/graphql/generated.tsx
  packages/web/src/hooks/useClassworkAssignmentName/index.ts
  packages/web/src/hooks/useClassworkAssignmentName/useClassworkAssignmentName.tsx
  packages/web/src/hooks/useClassworkMaterialName/index.ts
  packages/web/src/hooks/useClassworkMaterialName/useClassworkMaterialName.tsx
  packages/web/src/hooks/useConversationName/index.ts
  packages/web/src/hooks/useConversationName/useConversationName.tsx
  packages/web/src/hooks/useCourseName/index.ts
  packages/web/src/hooks/useCourseName/useCourseName.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.gql
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/ConversationPopup/ConversationPopup.tsx
  packages/web/src/modules/ConversationPopup/index.ts
  packages/web/src/modules/ConversationsPopupContainer/ConversationPopupContainer.tsx
  packages/web/src/modules/ConversationsPopupContainer/index.ts
  packages/web/src/modules/CreateComment/CreateComment.gql
  packages/web/src/modules/CreateComment/CreateComment.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkMaterials/DetailContentClassworkMaterial.tsx
  packages/web/src/modules/StudyingCourse/Components/General/General.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmissionDetail.tsx
  packages/web/src/modules/TeachingCourse/Components/General/General.tsx
  yarn.lock
Labels: package: server, package: web

#536 CU-9bxhx9 - As a lecturer, I want to report the number of students who submitted their assignments on time, submitted late and didn't
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
Labels: package: server, 🚀 merge it!

#545 [BE] implement classwork servicelist classwork submitteds by student id in course
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
Labels: package: server, 🚀 merge it!

#550 Cu a7we3e fe bug error displaying exercise list no exercises
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/ClassworkAssignments.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
  packages/web/src/modules/StudyingCourse/StudyingCourse.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkAssignments/ClassworkAssignments.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.tsx
  packages/web/src/modules/TeachingCourse/TeachingCourse.tsx
  packages/web/src/modules/TeachingCourseList/TeachingCourseList.tsx
Labels: package: web, 🚀 merge it!

#552 Cu a7wejp fe bug back button changes to list
  packages/web/src/modules/AcademicSubjectDetail/AcademicSubjectDetail.tsx
  packages/web/src/modules/AccountProfile/AccountProfile.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/DetailCourse/DetailCourse.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkMaterials/DetailContentClassworkMaterial.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/DetailClassworkMaterials.tsx
Labels: package: web, 🚀 merge it!

#570 Implement Lesson module and Rating module
  packages/server/schema.gql
  packages/server/src/core/app/app.module.ts
  packages/server/src/modules/academic/academic.module.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/classwork/models/Classwork.ts
  packages/server/src/modules/rating/models/rating.ts
  packages/server/src/modules/rating/rating.module.ts
  packages/server/src/modules/rating/rating.resolver.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  packages/server/src/modules/rating/rating.service.ts
Labels: package: server, 🚀 merge it!
