Repository duongdev/kathena, pull requests merged in 2021-08, with the labels that each got.

#586 [BE] CU-ac28nh-BE-Implement-academicService.createLesson
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.module.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
Labels: package: server, 🚀 merge it!

#600 CU-ac28p3 - [BE] Implement academicService.findAndPaginateLessons
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
Labels: package: server, 🚀 merge it!

#583 [BE] classworkservice.listClassworkAssignmentsByStudentIdInCourse
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
Labels: package: server, 🚀 merge it!

#603 [BE] Implement-academicService.updateLessonById-AND-academicService.addAbsentStudentsToLesson-AND-academicService.removeAbsentStudentsFromLesson
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
Labels: package: server, 🚀 merge it!

#551 [FE-Bug] Student list
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
Labels: package: web, 🚀 merge it!

#610 Implements ratingService.createRating and ratingService.calculateAvgRatingByTargetId
  packages/server/schema.gql
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/auth/__snapshots__/auth.service.spec.ts.snap
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/rating/models/rating.ts
  packages/server/src/modules/rating/rating.resolver.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  packages/server/src/modules/rating/rating.service.ts
  packages/server/src/modules/rating/rating.type.ts
Labels: package: server, 🚀 merge it!

#607 CU-bngm82-BE-Implement-academicService.commentsByLecturer
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
Labels: package: server, 🚀 merge it!

#620 CU-cj685t - [BE] Update lesson model and ratingService.calculateAvgRatingByTargetId
  packages/server/schema.gql
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/rating/models/Rating.ts
  packages/server/src/modules/rating/rating.module.ts
  packages/server/src/modules/rating/rating.resolver.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  packages/server/src/modules/rating/rating.service.ts
Labels: package: server, 🚀 merge it!

#625 CU-chzava - [BE] Implement authService.canSubmitRating
  packages/server/schema.gql
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/rating/rating.const.ts
  packages/server/src/modules/rating/rating.module.ts
  packages/server/src/modules/rating/rating.resolver.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  packages/server/src/modules/rating/rating.service.ts
Labels: package: server, 🚀 merge it!

#630 CU-d3c58n - [BE] Update classworkSubmisson model and classworkService.calculateAvgGradeOfClassworkAssignment
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
Labels: package: server, 🚀 merge it!

#623 [BE] Update listClassworkAssignmentsByStudentIdInCourse
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
Labels: package: server, 🚀 merge it!

#637 Change field courseId to objectId In classworkmodel
  packages/server/src/modules/classwork/models/Classwork.ts
Labels: bug, package: server, 🚀 merge it!

#641 Cu e5knaw be update id fields to object
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/models/Course.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/classwork/models/Classwork.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
  packages/server/src/modules/conversation/conversation.service.spec.ts
  packages/server/src/modules/conversation/model/Conversation.ts
  packages/server/src/modules/rating/models/Rating.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  yarn.lock
Labels: package: server, 🚀 merge it!

#645 Cu a5zvc4 UI student want to see the list of submitted assignments
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkAssignments/DetailContentClassworkAssignment.tsx
  packages/web/src/modules/StudyingCourse/Components/ListOfSubmittedAssignments/ListOfSubmittedAssignments.gql
  packages/web/src/modules/StudyingCourse/Components/ListOfSubmittedAssignments/ListOfSubmittedAssignments.tsx
  packages/web/src/modules/StudyingCourse/Components/ListOfSubmittedAssignments/index.tsx
  packages/web/src/modules/StudyingCourse/StudyingCourse.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkSubmissionDetail/ClassworkSubmissionDetail.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#646 [BE] Implement academicService.findLessonById
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
Labels: package: server, 🚀 merge it!
