Repository duongdev/kathena, pull requests merged in 2021-09, with the labels that each got.

#676 Add check the permission to use lesson functions
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/lesson.resolver.ts
  packages/server/src/modules/academic/models/Lesson.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  yarn.lock
Labels: package: server, 🚀 merge it!

#683 Upadate academic servicefind and paginate lessons
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/academic/lesson.resolver.ts
Labels: package: server, 🚀 merge it!

#689 Cu gnp3c3 fe list lessions
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessions.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/index.ts
  packages/web/src/modules/TeachingCourse/TeachingCourse.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web

#690 Cu gnpf60 fe detail lesson
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessions.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/DetailClassworkLesson.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web

#691 [BE] Update findLessonById
  packages/server/schema.gql
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/lesson.resolver.ts
Labels: package: server, 🚀 merge it!

#695 Cu gnp09r fe create lesson
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessions.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/CreateClassworkLesson.form.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/CreateClassworkLesson.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/DetailClassworkLesson.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web, 🚀 merge it!

#701 [BE] Divide lesson form academic module to lesson module
  packages/server/schema.gql
  packages/server/src/core/app/app.module.ts
  packages/server/src/modules/academic/academic.module.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/lesson/lesson.module.ts
  packages/server/src/modules/lesson/lesson.resolver.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
  packages/server/src/modules/lesson/models/Lesson.ts
  packages/server/src/modules/rating/rating.module.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  packages/server/src/modules/rating/rating.service.ts
  packages/web/src/graphql/generated.tsx
Labels: package: server

#704 [BE] divide course form academic module to course module
  packages/server/schema.gql
  packages/server/src/core/app/app.module.ts
  packages/server/src/modules/academic/academic.module.ts
  packages/server/src/modules/academic/academic.service.spec.ts
  packages/server/src/modules/academic/academic.service.ts
  packages/server/src/modules/academic/academic.type.ts
  packages/server/src/modules/auth/auth.module.ts
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/conversation/conversation.module.ts
  packages/server/src/modules/conversation/conversation.service.spec.ts
  packages/server/src/modules/course/course.module.ts
  packages/server/src/modules/course/course.resolver.ts
  packages/server/src/modules/course/course.service.spec.ts
  packages/server/src/modules/course/course.service.ts
  packages/server/src/modules/course/course.type.ts
  packages/server/src/modules/course/models/Course.ts
  packages/server/src/modules/lesson/lesson.module.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/orgOffice/orgOffice.module.ts
  packages/server/src/modules/rating/rating.service.spec.ts
Labels: package: server, 🚀 merge it!

#705 CU-j3drru - [BE] Update Lesson model
  packages/server/schema.gql
  packages/server/src/modules/lesson/models/Lesson.ts
Labels: package: server, 🚀 merge it!

#711 [BE] Update lessonService.updateLessonById
  packages/server/schema.gql
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
Labels: package: server, 🚀 merge it!

#716 Cuj3dnvc [BE] Implement lessonService.generateLessons
  packages/server/schema.gql
  packages/server/src/core/constants.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
  packages/web/src/graphql/generated.tsx
  yarn.lock
Labels: package: server

#721 CU-kbhhqv - [BE] Update Course model
  packages/server/schema.gql
  packages/server/src/modules/course/models/Course.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
Labels: package: server, 🚀 merge it!

#723 [BE] Update courseService.createCourse
  packages/server/schema.gql
  packages/server/src/modules/auth/auth.service.spec.ts
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/conversation/conversation.service.spec.ts
  packages/server/src/modules/course/course.service.spec.ts
  packages/server/src/modules/course/course.service.ts
  packages/server/src/modules/course/course.type.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
Labels: package: server

#724 Update create course
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CreateCourse/CreateCourse.form.tsx
  packages/web/src/modules/CreateCourse/CreateCourse.tsx
Labels: package: web

#727 Cu kbnrza fe import mn hc menu for lecturer UI
  packages/web/src/modules/AcademicSubjectDetail/AcademicSubjectDetail.tsx
  packages/web/src/modules/AcademicSubjectList/AcademicSubjectList.tsx
  packages/web/src/modules/OrgWorkspace/components/OrgSidebar.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/CreateClassworkLesson.tsx
Labels: package: web

#733 Cu kbnrza fe import mn hc menu for lecturer UI
  packages/web/src/modules/AcademicSubjectDetail/AcademicSubjectDetail.tsx
  packages/web/src/modules/AcademicSubjectList/AcademicSubjectList.tsx
  packages/web/src/modules/OrgWorkspace/components/OrgSidebar.tsx
Labels: package: web

#736 Cu j3jth2 fe detail list of lessons before after classes material
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CourseList/CourseList.gql
  packages/web/src/modules/CourseList/CourseList.tsx
  packages/web/src/modules/OrgWorkspace/components/OrgSidebar.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessions.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/DetailClassworkLesson.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/LessonDisplayName/AssignmentDisplayName.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/LessonDisplayName/MaterialDisplayName.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/LessonDisplayName/useAssignmentUtils.ts
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/LessonDisplayName/useMaterialUtils.ts
Labels: package: web

#738 CU-kbhj76-BE-Update-lessonService.updateLessonbyId
  packages/server/schema.gql
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
Labels: package: server, 🚀 merge it!

#741 CU-m8962p - [FE] Students see the list of lessons
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.route.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkLessons/DetailClassworkLesson.tsx
  packages/web/src/modules/StudyingCourse/StudyingCourse.tsx
  packages/web/src/utils/path-builder.ts
Labels: package: web

#744 CU-j3dz57 - [BE] Update Classwork model
  packages/server/src/modules/classwork/models/Classwork.ts
Labels: package: server, 🚀 merge it!

#748 CU-m8933c - [BE] Implement courseService.updateCoursePublicationById
  packages/server/schema.gql
  packages/server/src/modules/course/course.resolver.ts
  packages/server/src/modules/course/course.service.spec.ts
  packages/server/src/modules/course/course.service.ts
Labels: package: server, 🚀 merge it!

#756 [BE] implement course serviceclone the course
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/course/course.module.ts
  packages/server/src/modules/course/course.resolver.ts
  packages/server/src/modules/course/course.service.spec.ts
  packages/server/src/modules/course/course.service.ts
  packages/server/src/modules/course/course.type.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
Labels: package: server, 🚀 merge it!
