Repository duongdev/kathena, pull requests merged in 2021-12, with the labels that each got.

#985 Fix regex vietnamese
  packages/server/src/core/utils/string.ts
  packages/web/src/modules/CreateUpdateAccount/CreateAccountDialog.tsx
  packages/web/src/utils/validators.ts
Labels: bug, package: web, package: server

#986 Update OrgLogo.tsx
  packages/web/public/favicon.ico
  packages/web/src/components/OrgLogo/OrgLogo.tsx
Labels: 🚀 merge it!

#987 change logo kmin
  packages/web/public/images/kmin-dark-logo.png
Labels: 🚀 merge it!

#989 Add findOneRating function
  packages/server/schema.gql
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/rating/rating.resolver.ts
  packages/server/src/modules/rating/rating.service.spec.ts
  packages/server/src/modules/rating/rating.service.ts
Labels: package: server, 🚀 merge it!

#990 Cu 1w9z7t5 fe fix UI course
  packages/web/src/App.css
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/CourseList/CourseList.tsx
  packages/web/src/modules/CreateCourse/CreateCourse.form.tsx
  packages/web/src/modules/CreateCourse/CreateCourse.tsx
  packages/web/src/modules/DetailCourse/DetailCourse.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkLessons/DetailClassworkLesson.tsx
  packages/web/src/modules/StudyingCourse/Components/RatingLesson/RatingLesson.gql
  packages/web/src/modules/StudyingCourse/Components/RatingLesson/RatingLesson.tsx
  packages/web/src/modules/StudyingCourseList/StudyingCourseList.tsx
  packages/web/src/modules/TeachingCourseList/TeachingCourseList.tsx
Labels: package: web

#993 BE_When_clone_course_all_element_in_it_darft
  packages/server/src/modules/classwork/classwork.service.ts
Labels: package: server, 🚀 merge it!

#997 BE-add-quizList-Before-In-After-Class
  packages/server/schema.gql
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
  packages/server/src/modules/lesson/models/Lesson.ts
Labels: feature, package: server

#995 BE-when-add-student-to-course-sort-it
  packages/server/schema.gql
  packages/server/src/modules/account/account.service.ts
  packages/server/src/modules/account/models/Account.ts
  packages/server/src/modules/course/course.service.ts
Labels: feature, package: server, 🚀 merge it!

#998 Add submission editing function
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.module.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/classworkSubmission.resolver.ts
  packages/server/src/modules/classwork/models/ClassworkSubmission.ts
Labels: package: server, 🚀 merge it!

#1004 Add published all functions
  packages/server/schema.gql
  packages/server/src/modules/auth/__snapshots__/orgRolesMap.spec.ts.snap
  packages/server/src/modules/auth/models/Permission.ts
  packages/server/src/modules/auth/orgRolesMap.ts
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/lesson/lesson.resolver.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/quiz/quiz.resolver.ts
  packages/server/src/modules/quiz/quiz.service.spec.ts
  packages/server/src/modules/quiz/quiz.service.ts
Labels: feature, package: server, 🚀 merge it!

#1028 Features
  packages/web/src/App.css
  packages/web/src/modules/StudyingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
Labels: 🚀 merge it!

#1030 CU-1zpr5w2-BE-Add-fields-to-Quiz-model
  packages/server/schema.gql
  packages/server/src/modules/quiz/models/Quiz.ts
  packages/server/src/modules/quiz/quiz.service.ts
  packages/server/src/modules/quiz/quiz.type.ts
Labels: package: server
