Repository duongdev/kathena, pull requests merged in 2021-10, with the labels that each got.

#763 [BE] Update classworkService.createClassworkAssignment
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
  packages/server/src/modules/classwork/models/Classwork.ts
Labels: package: server, 🚀 merge it!

#764 [BE] Update classworkService.createClassworkMaterial
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
Labels: package: server, 🚀 merge it!

#767 Add Assignment/Material to Lesson
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/StudyingCourse/Components/ClassworkLessons/DetailClassworkLesson.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/AddRemoveAssignmentMaterialToLesson/AddClassworkAssignmentListAfterClass.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/AddRemoveAssignmentMaterialToLesson/AddClassworkAssignmentListBeforeClass.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/AddRemoveAssignmentMaterialToLesson/AddClassworkAssignmentListInClass.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/AddRemoveAssignmentMaterialToLesson/AddClassworkMaterialListAfterClass.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/AddRemoveAssignmentMaterialToLesson/AddClassworkMaterialListBeforeClass.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/AddRemoveAssignmentMaterialToLesson/AddClassworkMaterialListInClass.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/DetailClassworkLesson.tsx
Labels: package: web

#765 [BE] Update classworkService.updateClassworkMaterialById
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
Labels: package: server, 🚀 merge it!

#766 [BE] Update classworkService.updateClassworkAssignmentById
  packages/server/schema.gql
  packages/server/src/modules/classwork/classwork.service.spec.ts
  packages/server/src/modules/classwork/classwork.service.ts
  packages/server/src/modules/classwork/classwork.type.ts
Labels: package: server, 🚀 merge it!

#774 Change description text when generated lesson
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
Labels: package: server, 🚀 merge it!

#779 Separate the date list of lessons into a separate function
  packages/server/schema.gql
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
  packages/server/src/modules/lesson/lesson.type.ts
Labels: package: server, 🚀 merge it!

#797 CU-1n4z1ht - [BE] Fix realtime Subscription (Chat realtime)
  packages/server/schema.gql
  packages/server/src/modules/conversation/conversation.resolver.ts
Labels: package: server, 🚀 merge it!

#802 Config pubSub
  packages/server/schema.gql
  packages/server/src/core/utils/pubSub.ts
  packages/server/src/modules/classwork/classworkAssignments.resolver.ts
  packages/server/src/modules/classwork/classworkMaterial.resolver.ts
  packages/server/src/modules/conversation/conversation.resolver.ts
  packages/server/src/modules/conversation/notification.type.ts
Labels: package: server

#805 Notification
  packages/server/schema.gql
  packages/web/src/graphql/generated.tsx
  packages/web/src/hooks/useNotification/Notification.gql
  packages/web/src/hooks/useNotification/index.ts
  packages/web/src/hooks/useNotification/useNotification.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.gql
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.form.tsx
  packages/web/src/modules/CreateClassworkAssignment/CreateClassworkAssignment.tsx
  packages/web/src/modules/CreateClassworkAssignment/kmin-logo.png
  packages/web/src/modules/OrgWorkspace/OrgWorkspace.tsx
Labels: 🚀 merge it!

#808 Video
  packages/web/src/components/VideoPopup/VideoPopup.tsx
  packages/web/src/components/VideoPopup/index.ts
  packages/web/src/modules/ClassworkAssignmentDetail/ClassworkAssignmentDetail.tsx
  packages/web/src/modules/ClassworkAssignmentDetail/kmin-logo.png
Labels: 🚀 merge it!

#821 CU-1napy2z - [BE] Implement lessonSerivce.addLessonToCourse
  packages/server/schema.gql
  packages/server/src/modules/lesson/lesson.resolver.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
  packages/server/src/modules/lesson/lesson.service.ts
Labels: package: server, 🚀 merge it!

#844 Cu j3jw7a fe add update field iframe videos when update classwork material
  packages/web/src/graphql/generated.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/CreateClassworkLesson.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/ClassworkMaterials.gql
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/UpdateClassworkMaterials.from.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkMaterials/UpdateClassworkMaterialsDialog.tsx
Labels: package: web

#861 CU-1nvxf7c - [BE] Error when create course with totalNumberOfTheLesson is too big
  packages/server/src/modules/course/course.service.spec.ts
  packages/server/src/modules/course/course.service.ts
  packages/server/src/modules/course/models/Course.ts
Labels: package: server, 🚀 merge it!

#849 CU-1nvxe8g - As a user, I want to change my avatar
  packages/server/schema.gql
  packages/server/src/modules/account/account.module.ts
  packages/server/src/modules/account/account.service.ts
  packages/server/src/modules/account/account.type.ts
  packages/server/src/modules/account/models/Account.ts
  packages/server/src/modules/fileStorage/fileStorage.service.ts
Labels: package: server, 🚀 merge it!

#895 Fix error when create lesson
  packages/server/src/modules/course/course.service.spec.ts
  packages/server/src/modules/course/course.service.ts
  packages/server/src/modules/course/models/Course.ts
  packages/server/src/modules/lesson/lesson.service.spec.ts
Labels: package: server

#897 Fix bugs
  packages/web/src/modules/StudyingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
Labels: 🚀 merge it!

#898 FE-fix-generation-lesson-on-uif
  packages/web/src/modules/StudyingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
  packages/web/src/modules/TeachingCourse/Components/ClassworkLessons/ClassworkLessons.tsx
Labels: package: server, 🚀 merge it!
